<section class="footer-social">
    <a href="https://github.com/joenas" target="_blank" rel="noopener" title="GitHub"><span class="fa fa-2x fa-fw fa-github"></span> <span class="hidden">GitHub</span></a>&nbsp;
    <a href="https://twitter.com/jonnever" target="_blank" rel="noopener" title="Twitter"><span class="fa fa-2x fa-fw fa-twitter"></span> <span class="hidden">Twitter</span></a>&nbsp;
    <a href="https://www.linkedin.com/in/jonneverland" target="_blank" rel="noopener" title="LinkedIn"><span class="fa fa-2x fa-fw fa-linkedin"></span> <span class="hidden">GitHub</span></a>&nbsp;
    <a href="{{@blog.url}}/rss/" target="_blank" rel="noopener" title="RSS"><span class="fa fa-2x fa-fw fa-rss"></span> <span class="hidden">RSS</span></a>

</section>
