<nav class="pagination" aria-label="Pagination Navigation">
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}"><span class="fa fa-chevron-circle-left"></span> Newer</a>
    {{/if}}
    <span class="page-number">Page {{page}} of {{pages}}</span>
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}">Older <span class="fa fa-chevron-circle-right"></span></a>
    {{/if}}
</nav>
