{{!< default}}
<main class="content">
    <article class="{{post_class}}">
    {{#post}}
        <header>
            <h2 class="post-title">{{{title}}}</h1>
        </header>
        <section class="post-content">
            {{content}}
            <br>
        </section>
        <section class="share">
            <p class="backtotop"><a data-scroll href="#site-head"><span class="fa fa-lg fa-fw fa-angle-double-up"></span></a><a data-scroll class="backtotoptext" href="#site-head"> Back to top</a></p>
            &nbsp;
        </section>
    {{/post}}

    {{!> disqus}}
    </article>
</main>
